.projects {
    background-color: $color-secondary;
    padding: $padding-section-dynamic 0;
    color: $color-main-dark;
    width: 100%;

    &-content {
        @include flexbox(center, center, column, null);

        span {
            @include typography(headings, h1, 700);
        }

        strong {
            color: $color-action;
        }
    }

    &-labels {
        @include flexbox(space-around, null, column, wrap, $content-gap);
        background-color: $color-secondary-dark;
        padding: $padding-content;
        border-radius: $border-radius;

        display: none;// @TODO: Remove this line when ready LABELS
    }

    &-description {
        @include flexbox(space-around, center, column, null, $content-gap);

        p {
            text-align: center;
        }
    }

    .projects {
        //@include flexbox(space-around, center, row, wrap, $content-gap);
    }

    .project {
        position: relative;

        &-content {
            width: -webkit-fill-available;
            moz-width: -moz-available;

            &-title {
                @include flexbox(space-between, center, row, null);
                padding: $padding-content 0;
                border-bottom: 1px solid $color-main-dark;

                .name {
                    @include flexbox(null, center, row, null, $content-gap);
                    @include typography(headings, h2, 700);
                }


                i {
                    transition: transform 0.3s;
                }
            }

            &-description {
                height: 0;
                overflow: hidden;
                transition: all 0.3s;

                &-image {
                    img {
                        width: 100%;
                        height: 100%;
                        //border-radius: $border-radius;
                        box-shadow: $shadow-md;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .project.active {
        transition: all 0.3s;

        .project-content-title {
            i {
                transform: rotate(180deg);
                transition: transform 0.3s;
            }
        }

        .project-content-description {
            //color: $color-secondary;
            padding: $padding-content;
            height: auto;
            overflow: visible;
            border-bottom: 1px solid $color-main-dark;
            border-left: 1px solid $color-main-dark;
            border-right: 1px solid $color-main-dark;
            transition: all 0.3s;

            @media screen and (max-width: map-get($media-queries, tablet-max)) {
                .d-grid {
                    grid-template-columns: repeat(1, minmax(0, 1fr));

                    .project-content-description-image {
                        width: fit-content;

                        img {
                            width: 100%;
                            height: 100%;
                            //border-radius: $border-radius;
                            box-shadow: $shadow-md;
                            object-fit: cover;
                        }
                    }

                    .grid-cols-span-3 {
                        grid-column: span 1;
                    }
                }
            }

            &-text {
                background-color: $color-main-dark;
                color: $color-secondary;
                padding: $padding-content;
            }

            &-link {
                @include flexbox(center, center, column, null, $content-gap);
                position: relative;
                background-color: $color-main-dark;
                padding: $padding-content;

                a {
                    @include typography('headings', 'h4', 600, $color-secondary);
                    text-decoration: none;
                    transition: color 0.3s ease;
                    padding: $content-gap-small;
                    position: relative;
                    @include underline-hover($color-secondary);

                    &:hover {
                        color: $color-secondary-dark;
                    }
                }
            }

            &-info {
                padding-top: $padding-content;

                .h4 {
                    @include typography('content', 'larger', 600);
                }

                ul {
                    li {
                        ul {
                            padding-left: 2rem;

                            li {
                                list-style-type: disc;
                            }
                        }
                    }
                }

                .technologies-used {
                    @include flexbox(space-around, flex-start, column, null, $content-gap);

                    &-title,
                    &-list {
                        @include typography('content', 'larger', 600);
                    }


                    &-title {

                    }

                    &-list {
                        @include flexbox(space-around, flex-start, row, wrap, $content-gap-small);
                        width: 100%;
                        color: $color-action;
                    }
                }
            }
        }
    }
}
